.gallery {
    display: grid;
    justify-content: center;
    grid-gap: 5px;
    border-bottom: 2px dashed $color3;
    margin-bottom: 20px;

    img {
        border-radius: 5px;
    }

    .pics1 {
        transform: translateX(100px);
        transition: 0.3s;
        &:hover {
            transform: translateX(0) scale(120%);
        }
    }
    .pics2 {
        transform: translateX(-100px);
        transition: 0.3s;
        position: relative;
        &:hover {
            transform: translateX(0) scale(120%);
        }
    }
    .pics3 {
        transform: translateX(100px);
        transition: 0.3s;
        &:hover {
            transform: translateX(0) scale(120%);
            z-index: 10;
        }
    }
    .pics4 {
        transform: translateX(-100px);
        transition: 0.3s;
        &:hover {
            transform: translateX(0) scale(120%);
            z-index: 10;
        }
    }
}