.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    

    #adminBtn {
        padding: 4px;
        border: none;
        background: $color4;
        color: $color2;
        border-radius: 3px;

        &:hover {
            cursor: pointer;
        }
    }

    .nav-btn {
        margin: 20px 20px 0 0;
        transition: 0.1s;

        @media screen and (min-width:605px) {
            display: none;
        }
        
        &:active {
            transform: scale(95%);
        }
    }
}

.navigation {
    position: absolute;
    top:160px;
    width: 100%;
    transform: translateX(-600px);
    transition: 0.5s;
    z-index: 100;

    @media screen and (min-width:605px) {
        transform: translateX(0);
        position: static;
        width: 650px;
    }

    ul {
        display: flex;
        flex-direction: column;

        @media screen and (min-width:605px) {
            flex-direction: row;
        }

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            height: 10vh;
            border-radius: 10px;
            text-align: center;
            font-size: 2.8rem;
            padding: 5px;
            margin: 10px 0;
            background: rgba(255, 255, 255, 0.31);
            backdrop-filter: blur(3px);
            font-weight: bold;
            color: rgba(0, 0, 0, 0.706);
            transition: 0.2s;

            @media screen and (min-width:605px) {
                height: 40px;
                font-size: 1rem;
                background: none;
                margin-right: 5px;
                width: 170px;
                position: relative;
                transition: 0.1s;
                
                
                &:hover {
                    cursor: pointer;
                    
                }
                &:hover::after {
                    content: "";
                    position: absolute;
                    width: 50px;
                    height: 4px;
                    background: $color1;
                    top: 32px;
                }
                &:active {
                    color: $color1;
                    transform: scale(95%);
                }
            }
        }
    }
}

.nav-display {
    transform: translateX(0px);
}

#userCo {
    padding-left: 20px;
    position: relative;
    display: flex;
    align-items: center;
    color: $color3;

    button {
        border: none;
        margin-right: 10px;
        font-size: 1.9rem;
        background: transparent;
        transition: 0.1s;

        &:active {
            transform: scale(95%);
        }
    }

    @media screen and (min-width:605px) {
        font-size: 1.1rem;
        button {
            &:hover {
                cursor: pointer;
                transform: scale(104%);
            }
        }
    }
}