$color1: #9FC088;
$color2: #E8C07D;
$color3: #CC704B;
$color4: #614124;

@font-face {
    font-family: font1;
    src: url(../assets/fonts/Pridi-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    overflow-x: hidden;
    font-family: font1;
}
body {
    height: 100vh;
    background: white;  
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='600' height='800' preserveAspectRatio='none' viewBox='0 0 600 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1106%26quot%3b)' fill='none'%3e%3crect width='600' height='800' x='0' y='0' fill='rgba(232%2c 192%2c 125%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c237.297C43.648%2c236.88%2c71.589%2c192.124%2c108.614%2c169.006C146.268%2c145.495%2c195.541%2c137.612%2c219.5%2c100.242C244.475%2c61.287%2c250.711%2c10.405%2c239%2c-34.363C227.751%2c-77.367%2c186.59%2c-102.865%2c157.564%2c-136.53C128.451%2c-170.295%2c110.364%2c-217.804%2c68.242%2c-232.412C25.749%2c-247.149%2c-19.497%2c-226.029%2c-62.499%2c-212.851C-105.018%2c-199.821%2c-151.279%2c-189.927%2c-180.316%2c-156.244C-209.326%2c-122.591%2c-217.211%2c-75.867%2c-218.861%2c-31.467C-220.397%2c9.866%2c-208.921%2c50.036%2c-189.334%2c86.466C-170.64%2c121.235%2c-140.831%2c146.496%2c-109.955%2c171.093C-75.801%2c198.302%2c-43.665%2c237.714%2c0%2c237.297' fill='%23e1ad56'%3e%3c/path%3e%3cpath d='M600 1105.487C658.04 1095.685 717.3199999999999 1091.4279999999999 766.799 1059.545 816.2429999999999 1027.685 849.755 978.5989999999999 877.45 926.707 906.6379999999999 872.018 942.054 813.395 930.696 752.453 919.425 691.979 864.336 651.705 818.542 610.6320000000001 777.629 573.937 729.294 551.864 679.986 527.592 619.958 498.044 562.967 436.58 498.078 452.885 433.514 469.109 415.85400000000004 552.419 374.279 604.4110000000001 334.729 653.871 274.56 689.517 259.643 751.064 244.25 814.578 270.874 878.72 292.884 940.255 316.711 1006.871 330.28 1089.226 392.584 1122.746 454.94399999999996 1156.296 530.177 1117.279 600 1105.487' fill='%23efd3a4'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1106'%3e%3crect width='600' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}


h2 {
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    color: $color4;
    text-align: center;
}

form {
    display: grid;
    padding: 20px;

    label {
        text-align: center;
        padding: 10px;
        font-size: 1.1rem;
        color: $color3;
    }

    input {
        border: 2px solid $color4;
        height: 30px;
        width: 80%;
        max-width: 360px;
        justify-self: center;
        padding: 10px;
        border-radius: 10px;
        background: transparent;
        color:$color4;
        text-align: center;

        &::placeholder {
            color: #614124b3;
            font-size: 0.7rem;
        }

        &:focus {
            border: 2px solid $color3;
            outline: none;
        }

        
    }
    button {
        margin-top: 20px;
        width: 60%;
        max-width: 280px;
        justify-self: center;
        padding: 10px;
        border: none;
        letter-spacing: 2px;
        font-weight: bold;
        border-radius: 5px;
        color: $color2;
        background: $color3;
        transition: 0.2s;
        
        &:active {
            transform: scale(95%);
        }
    }

    #error {
        color: $color4;
        text-align: center; 
        margin-top: 10px;
    }
}