.infos-container {
    padding: 10px; 
    p {
        color: $color4;
        @media screen and (min-width:605px) {
                text-align: center;
                font-size: 1.2rem;
        }
    }
    .contact-container {
        margin-top: 20px;
        h3 {
            text-align: center;
            color: $color4;
            font-size: 1.4rem;
            margin: 20px 0 10px;
        }
        p {
            text-align: center;
            padding: 10px;
        }
        ul {
            display: flex;
            justify-content: center;
            li {
                margin: 25px;
                border-radius: 100px;
                &:hover {
                    transform: scale(95%);
                }
            }
        }

        @media screen and (min-width:605px) {
                margin-top: 80px;

                ul{
                    li{
                        margin: 40px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
        }
    }
    #chicken {
       display: none;

       @media screen and (min-width:605px) {
        display: block;
        position: absolute;
        bottom: 40px;
        right: 20px;
        opacity: 0.35;
       }
    }
    
}